<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body id="<%=pageID%>">
		<% include partials/template/header.ejs %>

		<h1>Welcome to Restaurant Finder</h1>	


	</body>
	<% include partials/template/jsdefaults.ejs %>
</html>